
  

    .overlay {
      display: none;
      position: absolute;
      overflow: auto;
      top: 0;
      left: 0;
      /* position: fixed; */
      width: 100%;
      height: 236px;
      background: #d4e3e3;
      margin-left: 890px;
      margin-top: 323px;
      margin-bottom: 280px;
      width: 320px;
      border: 1px #a99f9f solid;
    }
.result-item{

  color: black;
}
    .popup {
      
    width:100%;
      background: #bcf7bb;
      height: 1400px;
      
      
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

    .close-btn {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .overlayprofit {
      display: flow;
    z-index: 99;
    display: none;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    /* position: fixed; */
    width: 100%;
    height: 146px;
    background: #f2f1a7;
    margin-left: 920px;
    margin-top: 292px;
    margin-bottom: 249px;
    width: 320px;
    border: 1px #a99f9f solid;
    padding: 2rem;
    border-radius: 1rem;
}
    

    

    @media only screen and (max-width: 600px) {

      .overlay {
        border: 1px solid grey;
        border-radius: 20px;
        display: none;
        position: absolute;
        overflow: auto;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 250px;
        background: #f2f1f1fa;
        margin-left: 12.3rem;
        margin-top: 14.5rem;
        margin-bottom: 0px;
        width: 12rem;
        box-shadow: 2px 3px grey;
 }

 .popup {
        border-radius: 10px;
        width: 100%;
        background: #bcf7bb;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
 }
    }

/*For tablet*/

    @media only screen and (min-width: 601px) and (max-width: 1200px) {

      .overlay {
        transform: translateX(-50%);
        border: 1px solid grey;
        border-radius: 20px;
        display: none;
        position: absolute;
        overflow: auto;
        top: 57%;
        left: 74%;
        height: 250px;
        background: #f2f1f1fa;
        margin-left: 0rem;
        margin-top: 0rem;
        margin-bottom: 0px;
        width: 21rem;
        max-width: 33rem;
        box-shadow: 2px 3px grey;
 }

 .popup {
        border-radius: 10px;
        width: 100%;
        background: #bcf7bb;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
 }
    }